.body
{
    background-color: #666;
    z-index: 1;
}

.bodyFlex
{
    border: 1px solid rgb(255, 0, 0);
    display: flex;
    flex: auto;
    flex-flow: row nowrap;
    align-content: flex-start;
    width: 100%;
}

.flexBlock
{
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    overflow-x: hidden;
    border: 1px solid rgb(255, 255, 255);
}

.sidebar
{
    white-space: nowrap;
    background: #4CAF50;
    z-index: 200;
    height: 300px;
    /*border: 1px solid rgb(255, 0, 0);*/
    transition: width 0.3s ease-out;
    overflow-x: inherit;
}

.sidebarOpened
{
    width: 250px;
}

.sidebarClosed
{
    width: 0px;
}

.sidebar > *
{
    /*border: 1px solid rgb(0, 4, 255);*/
    overflow-x: inherit;
}

.pageContents
{
    flex-grow: 1;
    /*position: static;*/
    z-index: 1;
}

.navbar
{
    overflow: hidden;
    background: #4CAF50;
    z-index: 1000;
    width: 100%;
}

.navbarSticked
{
    z-index: 1000;
    top: 0;
}

.navbar img
{
    float: left;
    padding: 0;
    margin: 0;
}

.navbar a 
{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover 
{
    background-color: rgb(216, 241, 214);
    color: black;
}

.navbar a.active 
{
    background-color: #4CAF50;
    color: white;
}

.sticky
{
    position: sticky;
    top: 0;
    left: 0;
}

.hidden
{
    visibility: hidden;
}

.gooseClip
{
    -webkit-user-drag: none;
    user-select: none;
    z-index: 100;
}

.assaultGoose
{
    z-index: inherit;
    border: 5px solid rgb(190, 172, 3);
}

.gooseKatysha
{
    margin-left: 20px; /* Отступы вокруг элемента */
    border: 5px solid rgb(0, 0, 0);
    z-index: inherit;
}

.bb
{
    -webkit-user-drag: none;
    user-select: none;
    z-index: 100;
}

.gooseFiresAGun
{
    z-index: inherit;
}

.muzzleFlash
{
    user-select: none;
    z-index: 100;
}